<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Página prueba</title>
  </head>
  <body>
    <h1>Hola mundo desde Render + Postgres</h1>
    <p>Estos son los registros en la tabla "items":</p>
    <p>Cordero Cruz Ian Alejandro</p>
    <p>Chapina de la Rosa Jose Antonio</p>
    <p>Aviña Durán Ramses</p>
    {% if rows %}
      <ul>
        {% for id, nombre, descripcion in rows %}
          <li>{{ id }} — <strong>{{ nombre }}</strong>: {{ descripcion }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No hay registros (o error al leer BD).</p>
    {% endif %}
  </body>
</html>